

#server_options { margin-left: 20px; display: none; border: 1px solid black; border-radius: 5px;}
#client_connect_options { margin-left: 20px; display: none; border: 1px solid black; border-radius: 5px;}

#main_config {display: mome;}
#config_saved {display: none;}
