
:root {
  --mainbg1: #e9e2e2;
  --altbg1: #0b0e3c;
  --altbg2: #461306;
  --altbg3: rgba(0,0,0,.75);
  --maintxt1: #020622;
  --alttxt1: #97c3a2;
  --alttxt2: #FFFFFF;
  --top_panel_height: 30px;
  --side_panel_width: 20%;
  --workarea_width: 80%;
  --maintab_top_panel_height: 30px;
}


html {
/*height: 80%;*/
}

body {
    height:100%; width: 100%; overflow: hidden; background:none;
    font-family: Consolas, monospace;
}


a:link,a:visited,a:hover,a:active { color: #006699; text-decoration:none; }

input[type=submit] {    border-radius:5px;  }

h2 { margin: 0; }

.fltrt {float: right;}
.fltlft { float: left;}
.clearfloat { clear:both;height:0;font-size: 1px;line-height: 0px;}
.statbar {width:90%;padding:0px;color:green;}
.smtext { font-size:85%;}
.medtext { font-size:150%;}
.redtxt {color:red;}

#top_panel {
    position: absolute; width: 100%; height:var(--top_panel_height); top: 0px; left: 0px;
    overflow:auto; background: var(--altbg2); color: var(--alttxt2); user-select: none;
    text-align: center; overflow: visible; z-index: 10; -webkit-app-region: drag;
}
.window_btns_cont { position: absolute; top:0; right:0; -webkit-app-region: no-drag; }
.window_btn { border:1px solid black; margin:2px; padding:2px; display: inline-block; cursor: pointer;}
.window_btns_cont .window_btn:hover {  background: var(--altbg1); color: var(--alttxt1); }

.app_menus_cont { position: absolute; top:0; left:0;  -webkit-app-region: no-drag;}
.app_menu {
    height:var(--top_panel_height); width:150px; display: inline-block; cursor: pointer;
    line-height: var(--top_panel_height); overflow: hidden;
    vertical-align: text-top;
}
.app_menu li {list-style: none; font-size: 75%; text-align: left;}
.app_menu li:hover {background: white; color: black;}
.app_menu_active { background: green; height:auto; }

#side_panel {
    position: absolute; width: var(--side_panel_width); height: calc( 100% - var(--top_panel_height) );
    top: var(--top_panel_height); left: 0px; user-select: none;
    overflow:auto; background: var(--altbg1); color: var(--alttxt1);
}
.button_active { background: var(--altbg2); color: var(--alttxt2);}
.main_tab_btn { border:1px solid black; margin:3px;}
.view_tab_btn {border:1px solid black; margin:3px; }

#workarea {
    position: absolute; width:var(--workarea_width); height: calc( 100% - var(--top_panel_height) );
    top: var(--top_panel_height); left: var(--side_panel_width); margin: 0; padding:0;
    overflow:none; background: var(--mainbg1); color: var(--maintxt1);
}

.worktab { display: none; width: 100%; height: 100%; overflow:none; margin: 0; padding:0; }

.maintab_top_panel {
    width:100%; height:var(--maintab_top_panel_height) ; background: var(--altbg1);
    color: var(--alttxt1); user-select: none;
}
.maintab_top_panel h2 { display: inline-block; margin-left: 10px; margin-right: 20px;}
.maintab_top_panel_btn {
    border:1px solid var(--alttxt1); margin:2px; padding:3px; display: inline-block;
    cursor: pointer;
}
.maintab_top_panel .maintab_top_panel_btn:hover {  background: var(--altbg2); color: var(--alttxt2); }
.worktab_view {
    width:100%; height: calc(100% - var(--maintab_top_panel_height) ); overflow:auto;
    display:none;
}

#modal_cont {
    position: absolute; width: 100%; height: calc( 100% - var(--top_panel_height) );
    top: var(--top_panel_height); left: 0px; overflow:auto;
    background: var(--altbg3); color:var(--alttxt2); z-index: 100;
    display: none;
}

.modal_tab { display: none; width: 100%; min-height: 100%; text-align: center;}

/*modal user_login*/
#modal_user_login {}
#modal_user_login_loading {
    position: absolute; top: 0; left: 0; width: 100%; height:100%; display: none;
    background: var(--altbg3); z-index: 200; text-align: center; vertical-align: middle;
}
#login_user_create {
    width:45%; margin-right: 2%; display: inline-block; vertical-align: text-top;
    border-right: 1px solid white;
}
#login_user_info {
    width:45%; margin-left: 2%; display: inline-block; vertical-align: text-top;
}

#login_user_list_password_area  {
    width: 80%; height:125px; overflow-x: auto; overflow-y: none; background: blue;
    margin:50px; display: none;
}

#login_user_list {
    width: 80%; height:125px; overflow-x: auto; overflow-y: none; background: blue;
    margin:50px; display: none;
}
#login_user_list div {
    position: relative; display: inline-block; width:100px; height:100px;
    border:1px solid var(--alttxt1);
}
#login_user_list div .clicksurface {
    position: absolute; top: 0; left: 0; width:100%; height:100%; z-index: 125; background: none;
}
#login_user_pass_repeat_area { display: none; }
#login_user_list_password_area { display: none; }
/*  */
